.c-icon {
    &--grass {
        width: 24px;
        height: 24px;
        left: 36px;
        // top: 142px;
        background-image: url(../../../images/grass.png);
        // background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        
    }
}