.p-search {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 446px;
    &.c-icon--grass {
        margin-left: 36px;
    }
    &__input {
        &.c-input--search {
            box-sizing: border-box;
            width: 396px;
            height: 46px;
            &::placeholder {
                padding-left: 50px;
            }
            
        }
    }
    &__button {
        &.c-button {
            width: 136px;
            height: 46px;
            margin-right: 14px;
        }
    }
}